@media (min-width: 992px){
	*{box-sizing: border-box;}
	h1{text-align: center;
		font-size: 125%;}
	.desktop{background-color: gray;
		border: 1px solid black;
		font-family: sans-serif;
		margin: 5px;
		font-size: 75%;
		position: relative;}
	
	.box{width:33%;
		float: left;}
	
	.top{text-align: center;
		width:30%;
		position: absolute;
		top:0px;
		right:0px;
		margin:0px !important;
	}
	.bee{border: 1px solid black
		font-size:75%;
		font-family: sans-serif;
		margin:0px !important;
		padding:0px !important;
	}
	.one{background-color: yellow;}

	.two{background-color: red;}

	.three{background-color: blue;}

	p{padding:11px;}
}


@media (min-width: 768px) and (max-width: 991px){
	*{box-sizing: border-box;}
	h1{text-align: center;
		font-size: 125%;}
	.tablet{background-color: gray;
		border: 1px solid black;
		font-family: sans-serif;
		margin: 5px;
		font-size: 75%;
		position: relative;}
	
	.box{width:50%;
		float: left;}
	
	.extra{width:100%;}	
	
	.top{text-align: center;
		width:30%;
		position: absolute;
		top:0px;
		right:0px;
		margin:0px !important;
	}
	.bee{border: 1px solid black
		font-size:75%;
		font-family: sans-serif;
		margin:0px !important;
		padding:0px !important;
	}
	.one{background-color: yellow;}

	.two{background-color: red;}

	.three{background-color: blue;}

	p{padding:11px;}
}
@media (max-width: 767px){
	*{box-sizing: border-box;}
	h1{text-align: center;
		font-size: 125%;}
	.mobile{background-color: gray;
		border: 1px solid black;
		font-family: sans-serif;
		margin: 5px;
		position: relative;}
	
	.box{width:100%;
		float: left;}
	
	.top{text-align: center;
		width:30%;
		position: absolute;
		top:0;
		right:0;
		margin:0 !important;
	}
	.bee{border: 1px solid black
		font-size:75%;
		font-family: sans-serif;
		margin:0 !important;
		padding:0 !important;
	}
	.one{background-color: yellow;}

	.two{background-color: red;}

	.three{background-color: blue;}

	p{padding:11px;}
}